DRMS/branches/test/drms/ws/akua-util-op/src/main/webapp/WEB-INF/wsdl/AkuaContact.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.openadr.org/DRAS/AkuaContact" elementFormDefault="qualified"
	targetNamespace="http://www.openadr.org/DRAS/AkuaContact" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="AkuaContact">
            	<xs:sequence>
                    <xs:element name="id" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="type" minOccurs="0" type="xs:string"/>
                    <xs:element name="firstName" minOccurs="0" type="xs:string"  nillable="true"/>
                    <xs:element name="lastName" minOccurs="0" type="xs:string"  nillable="true"/>
                    <xs:element name="offSeasonNotiHours" minOccurs="0" type="xs:double"/>
                    <xs:element name="onSeasonNotiHours" minOccurs="0" type="xs:double"/>
                    <xs:element name="commNotification" minOccurs="0" type="xs:boolean"/>
                    <xs:element name="eventNotification" minOccurs="0" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListOfContacts">
            	<xs:sequence>
            		<xs:element name="contact" minOccurs="0" type="tns:AkuaContact" maxOccurs="unbounded"></xs:element>
                </xs:sequence>
            </xs:complexType>

</xs:schema>