DRMS/branches/test/drms/system/configure/resource/pss2/dras-schema/AkuaSeasonConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.openadr.org/DRAS/AkuaSeasonConfig" elementFormDefault="qualified"
	targetNamespace="http://www.openadr.org/DRAS/AkuaSeasonConfig" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="AkuaSeasonConfig">
            	<xs:sequence>
                    <xs:element name="id" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="name" type="xs:string"/>                    
                    <xs:element name="startDate" minOccurs="0" type="xs:dateTime"  nillable="true"/>
                    <xs:element name="endDate" minOccurs="0" type="xs:dateTime"/>
                    <xs:element name="programName" minOccurs="0" type="xs:string"  nillable="true"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListOfSeasonConfigs">
            	<xs:sequence>
            		<xs:element name="seasonTable" minOccurs="0" type="tns:AkuaSeasonConfig" maxOccurs="unbounded"></xs:element>
                </xs:sequence>
            </xs:complexType>

</xs:schema>