DRMS/branches/test/drms/core/drms-core-ejb/src/main/java/com/akuacom/pss2/program/dlc/signal/signal-update.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="signals" type="signalsType"/>
  <xs:complexType name="signalsType">
    <xs:sequence>
      <xs:element type="signalType" name="signal" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signalType">
    <xs:sequence>
      <xs:element name="serviceId" type="xs:NCName"/>
      <xs:element name="level" type="xs:NCName"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>