DRMS/branches/test/drms/ws-stub/util-op-stub/src/wsdl/AkuaSignal.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.openadr.org/DRAS/AkuaSignal" elementFormDefault="qualified"
	targetNamespace="http://www.openadr.org/DRAS/AkuaSignal" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="AkuaSignal">
            	<xs:sequence>
                    <xs:element name="id" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="signalName" type="xs:string"/>
                    <xs:element name="type" minOccurs="0" type="xs:string"/>
                    <xs:element name="numberType" minOccurs="0" type="xs:string"/>
                    <xs:element name="value" minOccurs="0" type="tns:ListOfValues"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListOfValues">
            	<xs:sequence>
            		<xs:element name="value" minOccurs="0" type="xs:string" maxOccurs="unbounded" nillable="true"></xs:element>
            	</xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="ListOfSignals">
            	<xs:sequence>
            		<xs:element name="signal" minOccurs="0" type="tns:AkuaSignal" maxOccurs="unbounded"></xs:element>
            	</xs:sequence>
            </xs:complexType>

</xs:schema>