DRMS/branches/test/drms/ws-stub/util-op-stub/src/wsdl/Destinations.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:ns0="http://www.openadr.org/DRAS/EventInfo" xmlns:ns1="http://www.openadr.org/DRAS/DRASClient"
	xmlns="http://www.openadr.org/DRAS/UtilityDREvent" elementFormDefault="qualified"
	targetNamespace="http://www.openadr.org/DRAS/UtilityDREvent" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:import schemaLocation="DRASClient.xsd"
		namespace="http://www.openadr.org/DRAS/DRASClient" />

  	<xs:element name="destinations">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" nillable="true" name="participants">
					<xs:annotation>
						<xs:documentation>
							List of references to
							ParticipantAccount entities that are
							to receive the DR Event.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" nillable="true"
								name="participantID" type="xs:string">
								<xs:annotation>
									<xs:documentation>
										A reference to a
										specific
										ParticipantAccount. It
										correpsonds to the
										accoutID attribute of
										the ParticipantAccount.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" nillable="true" name="groups" >
					<xs:annotation>
						<xs:documentation>
							List of Utility Groups that specify
							which ParticipantAccount entities
							are to receive the DR Event.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" nillable="true"
								name="groupID" type="xs:string">
								<xs:annotation>
									<xs:documentation>
										A reference of a
										specific Utility Group.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" nillable="true" name="locations">
					<xs:annotation>
						<xs:documentation>
							A list of locations that can be used
							to describe which DRAS Clients
							should receive to receive the DR
							Event.
	
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="location" nillable="true"
								type="ns1:Location">
								<xs:annotation>
									<xs:documentation>
										An instance of a
										location.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" nillable="true" name="drasClients">
					<xs:annotation>
						<xs:documentation>
							List of identifiers that specify
							which DRAS Clients are to receive
							the DR Event.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="drasClientID" nillable="true" 
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										An instance of a DRAS
										Client identifier.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="transactionID" type="xs:string"
				use="required">
				<xs:annotation>
					<xs:documentation>
						Identifier used to match up the transaction on 
						the server side.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>