DRMS/branches/test/drms/ws/util-op/src/main/webapp/WEB-INF/wsdl/AkuaDRASClientData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.openadr.org/DRAS/AkuaDRASClientData" elementFormDefault="qualified"
	targetNamespace="http://www.openadr.org/DRAS/AkuaDRASClientData" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="ClientData">
            	<xs:sequence>
            		<xs:element name="clientID" type="xs:string"/>
                    <xs:element name="participantID" minOccurs="0" type="xs:string"/>
                    <xs:element name="programIDs" minOccurs="0" type="tns:ListOfIDs"/>
                    <xs:element name="pending" type="xs:string"  minOccurs="0"></xs:element>
            		<xs:element name="mode" type="xs:string"  minOccurs="0"></xs:element>
            		<xs:element name="lastContact" type="xs:string"  minOccurs="0"></xs:element>
            		<xs:element name="aveShedPerHour"
            			type="xs:double">
            		</xs:element>
            		<xs:element name="status" type="xs:string"  minOccurs="0"></xs:element>
            		<xs:element name="mySiteURL" type="xs:string" minOccurs="0"></xs:element>
            		<xs:element name="graphURL" type="xs:string" minOccurs="0"></xs:element>
            		<xs:element name="param1" type="xs:string"  minOccurs="0"></xs:element>
            		<xs:element name="param2" type="xs:string" minOccurs="0"></xs:element>
            		<xs:element name="param3" minOccurs="0" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clientDataAttributeList" nillable="true" type="tns:ListOfClientDataAttributes"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="AkuaDRASCursor">
            	<xs:sequence>
            		<xs:element name="startIndex" type="xs:int"></xs:element>
                    <xs:element name="pageSize" type="xs:int"></xs:element>
                    <xs:element name="total" type="xs:int"></xs:element>
                    <xs:element name="selectedPage" type="xs:int"></xs:element>
                    <xs:element name="maxPageSize" type="xs:int"></xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="AkuaDRASSearchCriteria">
            	<xs:sequence>
            		<xs:element name="fieldName" type="xs:string"></xs:element>
                    <xs:element name="operator" type="xs:string"></xs:element>
                    <xs:element name="fieldValue" type="xs:string"></xs:element>
                    <xs:element name="joinOperator" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListofSearchCriteria">
            	<xs:sequence>
            		<xs:element name="searchCriteriaList" minOccurs="0" type="tns:AkuaDRASSearchCriteria" maxOccurs="unbounded"></xs:element>
            	</xs:sequence>
            </xs:complexType>

            <xs:complexType name="AkuaDRASSearchHandler">
            	<xs:sequence>
            		<xs:element name="sortField" type="xs:string" nillable="true" ></xs:element>
                    <xs:element name="sortByDirection" type="xs:string" nillable="true" ></xs:element>
                    <xs:element minOccurs="0" name="searchCriteriaList" nillable="true" type="tns:ListofSearchCriteria"/>
                    <xs:element minOccurs="0" name="drasCursor" nillable="true" type="tns:AkuaDRASCursor"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListofClientData">
            	<xs:sequence>
            		<xs:element name="data" minOccurs="0" type="tns:ClientData" maxOccurs="unbounded"></xs:element>
            	</xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListOfIDs">
            	<xs:sequence>
            		<xs:element name="id" minOccurs="0" type="xs:string" maxOccurs="unbounded" nillable="true"></xs:element>
            	</xs:sequence>
            </xs:complexType>

            <xs:complexType name="ClientDataAttribute">
            	<xs:sequence>
            		<xs:element name="name" type="xs:string"></xs:element>
                    <xs:element name="value" type="xs:string"></xs:element>
                    <xs:element name="type" type="xs:string" minOccurs="0" ></xs:element>
                    <xs:element name="unit" type="xs:string" minOccurs="0" ></xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListOfClientDataAttributes">
            	<xs:sequence>
            		<xs:element name="clientDataAttributeList" minOccurs="0" type="tns:ClientDataAttribute" maxOccurs="unbounded" nillable="true"></xs:element>
            	</xs:sequence>
            </xs:complexType>

</xs:schema>