DRMS/branches/test/drms/ws/util-op/src/main/webapp/WEB-INF/wsdl/AkuaProperty.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.openadr.org/DRAS/AkuaProperty" elementFormDefault="qualified"
	targetNamespace="http://www.openadr.org/DRAS/AkuaProperty" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="AkuaProperty">
            	<xs:sequence>
                    <xs:element name="id" minOccurs="0" type="xs:string" nillable="true"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="value" minOccurs="0" type="xs:string"/>
                    <xs:element name="type" minOccurs="0" type="xs:string"/>
                    <xs:element name="default" minOccurs="0" type="xs:string" nillable="true"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListOfProperties">
            	<xs:sequence>
            		<xs:element name="property" minOccurs="0" type="tns:AkuaProperty" maxOccurs="unbounded"></xs:element>
            	</xs:sequence>
            </xs:complexType>

</xs:schema>