DRMS/branches/test/drms/ws/util-op/src/main/webapp/WEB-INF/wsdl/AkuaRTPConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.openadr.org/DRAS/AkuaRTPConfig" elementFormDefault="qualified"
	targetNamespace="http://www.openadr.org/DRAS/AkuaRTPConfig" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="AkuaRTPConfig">
            	<xs:sequence>
                    <xs:element name="id" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="seasonName" minOccurs="0" type="xs:string" nillable="true"/>
                    <xs:element name="programName" minOccurs="0" type="xs:string"  nillable="true"/>
                    <xs:element name="startTime" minOccurs="0" type="xs:dateTime"  nillable="true"/>
                    <xs:element name="endTime" minOccurs="0" type="xs:dateTime" nillable="true"/>
                    <xs:element name="startTemperature" minOccurs="0" type="xs:double"/>
                    <xs:element name="endTemperature" minOccurs="0" type="xs:double"/>
                    <xs:element name="rate" minOccurs="0" type="xs:double"/>
                    <xs:element name="unit" type="xs:string" nillable="true"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListOfRTPConfigs">
            	<xs:sequence>
            		<xs:element name="priceTable" minOccurs="0" type="tns:AkuaRTPConfig" maxOccurs="unbounded"></xs:element>
                </xs:sequence>
            </xs:complexType>

</xs:schema>