DRMS/branches/test/drms/ws/soap-ge/src/main/webapp/WEB-INF/ADR_outbound.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="ENMAC/ADR" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="ENMAC/ADR" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="ENMAC/ADR">
      <s:element name="SubmitADREvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdrEventStc" type="tns:AdrEventStc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdrEventStc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="ADRSite" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EndTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EventName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShedAmount" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitADREventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdrEventResponseStc" type="tns:AdrEventResponseStc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdrEventResponseStc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitADREventSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitADREvent" />
  </wsdl:message>
  <wsdl:message name="SubmitADREventSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitADREventResponse" />
  </wsdl:message>
  <wsdl:portType name="ADRSoap">
    <wsdl:operation name="SubmitADREvent">
      <wsdl:input message="tns:SubmitADREventSoapIn" />
      <wsdl:output message="tns:SubmitADREventSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ADRSoap" type="tns:ADRSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitADREvent">
      <soap:operation soapAction="ENMAC/ADR/SubmitADREvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ADRSoap12" type="tns:ADRSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitADREvent">
      <soap12:operation soapAction="ENMAC/ADR/SubmitADREvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ADR">
    <wsdl:port name="ADRSoap" binding="tns:ADRSoap">
      <soap:address location="http://localhost:8080/SOAPEventWS4GE/soap4GE" />
    </wsdl:port>
    <wsdl:port name="ADRSoap12" binding="tns:ADRSoap12">
      <soap12:address location="http://localhost:8080/SOAPEventWS4GE/soap4GE" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>